.Education{
    /* background-image: url(/src/assets/education.svg); */
    height: 100vh;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1109%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M340 247L-504 246' stroke-width='8' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1527 482L686 481' stroke-width='6' stroke='url(%23SvgjsLinearGradient1111)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M848 339L1912 338' stroke-width='10' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M654 88L90 87' stroke-width='8' stroke='url(%23SvgjsLinearGradient1111)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M307 200L-265 199' stroke-width='6' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1847 890L3206 889' stroke-width='10' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1673 837L806 836' stroke-width='6' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1672 479L511 478' stroke-width='6' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1052 489L-14 488' stroke-width='10' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M979 151L-180 150' stroke-width='10' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M366 123L1087 122' stroke-width='10' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M829 603L1526 602' stroke-width='8' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1387 485L2180 484' stroke-width='10' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1795 637L1040 636' stroke-width='8' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M410 407L972 406' stroke-width='10' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M332 658L1711 657' stroke-width='8' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M680 485L149 484' stroke-width='6' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M832 699L1679 698' stroke-width='8' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M547 935L-358 934' stroke-width='6' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M939 1079L2012 1078' stroke-width='10' stroke='url(%23SvgjsLinearGradient1113)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1896 434L2781 433' stroke-width='6' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M848 558L-300 557' stroke-width='8' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M275 495L-345 494' stroke-width='10' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M712 962L140 961' stroke-width='8' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1386 412L2488 411' stroke-width='10' stroke='url(%23SvgjsLinearGradient1112)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M9 65L601 64' stroke-width='8' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1168 647L1882 646' stroke-width='10' stroke='url(%23SvgjsLinearGradient1110)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1109'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1110'%3e%3cstop stop-color='rgba(57%2c 57%2c 57%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 57%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1111'%3e%3cstop stop-color='rgba(45%2c 45%2c 45%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 45%2c 45%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1112'%3e%3cstop stop-color='rgba(45%2c 45%2c 45%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 45%2c 45%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1113'%3e%3cstop stop-color='rgba(57%2c 57%2c 57%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 57%2c 57%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");  

}

.grid-edu-container{
    display:block;
    margin-left:7%;
    margin-right: 7%;
    margin-top: 4%;
    grid-template-columns: 100%;
    grid-gap: 5%;
}

.grid-edut-container{
    display: grid;
    grid-auto-rows: auto;
    margin-left:4%;
    margin-right: 4%;
    margin-top: 4%;
    grid-template-columns: 100%;
    grid-gap: 5%;
}

.EdT{
    color: white;
    font-weight: bold;
    font-size: 2.8vh;
}

.EPoints{
    color: white;
    font-size: 1.8vh;
}

.edu-rect{
    height: 50vh;
    background-color: transparent;
    box-shadow: rgba(90, 90, 90, 0.25) 0px 50px 100px -20px, rgba(114, 113, 113, 0.3) 0px 30px 60px -30px, rgba(145, 145, 145, 0.35) 0px -2px 6px 0px inset;
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
}

.Edutitle{
    padding-top: 25%;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 4vh;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 15px;
}

@media screen and (min-width: 720px){
    .EdT{
        color: white;
        font-weight: bold;
        font-size: 4.2vh;
    }
    .EPoints{
        color: white;
        font-size: 2.6vh;
    }
    .Edutitle{
        padding-top: 5%;
        color: white;
        font-size: 7vh;
    }
    .edu-rect{
        height: 65vh;
    }
}

@media screen and (max-width: 720px) and (min-width: 620px){
    .EdT{
        padding-top: 10%;
        color: white;
        font-weight: bold;
        font-size: 4vh;
    }
    .EPoints{
        color: white;
        font-size: 2.5vh;
    }
    .Edutitle{
        color: white;
        font-size: 5vh;
    }
}

@media screen and (max-height: 670px) and (max-width: 620px){
        .Edutitle{
            padding-top: 48%;
            color: white;
            font-size: 5vh;
        }
        .edu-rect{
            height: 40vh;
        }
}