.Header{
    background-image: url(/src/assets/header.svg);
    height: 100vh;
    background-size: cover;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.Intro1{
    position: absolute;
    left: 50%;
    top: 30%;
    width: 38.5vw;
    
    font-weight: 900;
    font-size: 5vw;
    transform: translate(-50%);

    overflow: hidden;
        border-right: 5px solid black;  
        white-space: nowrap;    
        margin: 0 auto;
        animation: typewriter 2s steps(15) 1s 1 normal both,
        blinkTextCursor 500ms steps(30) infinite normal;
    
}

.Im{
    color: grey;
}

.Pfp{
    position: absolute;
    bottom: 0;
    left:50%;
    max-width: 60%;
    max-height: 85%;
    height: auto;
    width: auto;
    transform: translate(-50%);
    border-radius: 25% 25% 0 0;
}

.Intro3{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 55%;
    
    font-weight: 900;
    font-size: 3vw;
    transform: translate(-50%);
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 38.5vw;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}