
* {
    transition: all 400ms ease;
}
.Nav{
    display: none;
    background-color: black;
    opacity: 0.3;
    transition: 5s;
    position: fixed;
    left: 2rem;
    top: 50%;
    height: 30%;
    min-height: 200px;
    width: 3rem;
    transform: translateY(-50%);
    border-radius: 2rem;
    font-size: 1.25rem;
    z-index: 1001;
    box-shadow: rgba(248, 248, 248, 0.25) 0px 50px 100px -20px, rgba(37, 37, 37, 0.3) 0px 30px 60px -30px, rgba(145, 145, 145, 0.35) 0px -2px 6px 0px inset;
}
.Logos{
    display: grid;/* Flex box to allign logos */
    justify-content: space-evenly;
    height: 100%;
}

.Label{
    display: grid;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 3.25rem;
    top: 50%;
    height: 100%;
    min-height: 200px;
    transform: translateY(-50%);;
    font-size: 0.75rem;
}

.Label > *{
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    border-radius: 1.5rem;
    opacity: 1;

}

.Logos > * { /* Direct children of logos aka the individual icons */
    background-color: transparent;
    color: white;
    width: 13%;
    height: 100%;
    border-radius: 1.5rem;
    font-size: 100%;
}

.Logos > *:hover{
    transform: scale(1.25);
}

.Nav:hover{
    opacity: 1;
    transition: 1s;
}

.open {
    transform: scale(1);
    /* width: 100%; */
}
.closed {
    transform: scale(0);
    opacity: 0;
}

.Logos > *:active{
    opacity : 0.3;
}

@media screen and (min-width: 520px){
    .Nav{
        display: inline;
    }
}